/* Common general styles go here */
/* Media Query breakpoint recommendations taken from
   https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/
* {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
        padding: 0;
        box-sizing: border-box;

}

img {
    max-width: 100%;
     
     height: auto;
 }

#color1 {
        background-color: #003A7F;
        height: 50%;
        width: 20%;

    }
#color2 {
        background-color: #4C9EFF;
        height: 50%;
        width: 20%;
    }
#color3 {
        background-color: #0075FF;
        height: 50%;
        width: 20%;
    }



/* Nexus 5 in Portrait mode */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    /* Add your style here */
    * {
        font-size: 1.05em;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        border: 0;
    }
    img {
        min-width: 360px;
        max-width: 360px;
        max-height: 200px;
    }
    .colors {
        min-width: 360px;
        max-width: 360px;
        max-height: 200px;
    }
    
}



/* Ipad in Portrait mode */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 768px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    /* Add your style here */
    * {
        font-size: 1.2em;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        border: 0;
    }
    img {
        min-width: 768px;
        max-width: 768px;
        max-height: 300px;
    }
    .colors {
        min-width: 768px;
        max-width: 768px;
        max-height: 200px;
    }
}

/* Desktop mode */
@media only screen 
  and (min-device-width: 769px)  {
    /* Add your style here */
    * {
        font-size: 1em;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
        border: 0;
    }

    /* Create two unequal columns that floats next to each other */
.column {
    float: left;

}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



    
}



